{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card mb-4 rounded-3 shadow-sm w-50 text-center">
        <div class="card-header py-3">
            <h3 class="my-0 fw-normal">{{ object.title }}</h3>
        </div>
        <img class="card-img-top" src="{% my_media_tag object.preview %}" alt="Card image cap">
        <div class="card-body">
            <p>{{ object.content }}</p>
            <p>Дата публикации: {{ object.created_at }}</p>
            <a class="btn btn-lg btn-outline-warning"
               href="{% url 'blog:blogpost_edit' object.pk %}">Редактировать</a>
            <a class="btn btn-lg btn-outline-danger"
               href="{% url 'blog:blogpost_delete' object.pk %}">Удалить</a>
            <p class="fs-6 text-body-secondary text-center m-3">Просмотры: {{ object.views }}</p>
        </div>
    </div>
</div>
{% endblock %}