{% extends 'catalog/base.html' %}

{% block content %}
<p class="fs-4 text-body-secondary text-center mb-4">Доступные на данный момент категории товаров магазина</p>
<div class="text-center">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">{{ object.name }}</h5>
                    <span class="text-muted">{{ object.description }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}