{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card mb-4 rounded-3 shadow-sm w-50 text-center">
        <div class="card-header py-3">
            <h3 class="my-0 fw-normal">{{ object.name }}</h3>
        </div>
        <img class="card-img-top" src="{% my_media_tag object.image %}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title pricing-card-title">{{ object.price }} у.е.</h3>
            <p>Категория: {{ object.category.name|lower }}</p>
            <p>{{ object.category.description }}</p>
            <p>{{ object.description }}</p>
            <a class="btn btn-lg btn-outline-warning"
               href="{% url 'catalog:product_edit' object.pk %}">Редактировать</a>
            <a class="btn btn-lg btn-outline-danger"
               href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
            <p class="fs-3 text-body-secondary text-center m-3">Просмотры: {{object.count_of_views}}</p>
        </div>
    </div>
</div>
{% endblock %}